<div class="announcementbar">
    <div class="container-fluid bg-dark">
        <p class="text-center text-white">50% off for the limited time</p>
    </div>
</div>

{% schema %}
{
    "name": "Announcementbar",
    "settings": [
        
        ]
}
{% endschema %}