<div class="announcementbar">
    <div class="container-fluid bg-dark">
        <p class="text-center text-white">{{ section.settings.announce }}</p>
    </div>
</div>

{% schema %}
{
    "name": "Announcementbar",
    "settings": [
        {
            "type": "text",
            "id": "announce",
            "label": "Announcement Text",
            "default": "50% off for U.S based Shop"
        }
        ]
}
{% endschema %}